.calendar-title {
  text-align: center;
  margin: 1% 0;
}
.calendar-month {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 1rem;
}
.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 1rem 0;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-day {
  min-height: 5rem;
  border: 1px solid #3f51b5;
  padding-left: 0.5rem;

  /* height: 6rem; */
}

.calendar-day:hover {
  background-color: #f2f2f2;
}

.calendar-event {
  line-height: 0%;
}

/*Popup */

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 5% 0 25%;
  height: auto;
  max-height: 50vh;
  margin-top: calc(100vh - 85vh - 20px);
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(7% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

/* .event-detail {
    background-color: bisque;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
  } */

#space-btw-event-button {
  margin-right: 5px;
}

#add-event-button {
  text-align: right;
}

.event-type-select {
  width: 60%;
}
.form-notes {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .calendar-month {
    font-size: 12px;
    font-weight: bold;
    margin: 0 1rem;
  }
  .box {
    margin: 20% 15% 0 25%;
    width: 60%;
  }
  .close-icon {
    right: calc(20% - 30px);
    /* top: calc(20%); */
  }
}

.mobile-event-title {
  font-weight: bold;
}
