body {
  background: #f5f7fa;
  box-sizing: border-box;
  font-family: Montserrat, "sans-serif";
  color: #51565d;
}

.calendar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, minmax(120px, 1fr));
  // grid-template-rows: 50px;
  // grid-auto-rows: minmax(50px, auto);
  overflow: auto;

  &-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
  }

  &-header {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(
      to bottom,
      rgb(250, 251, 253) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);

    h1 {
      margin: 0;
      font-size: 18px;
    }

    p {
      margin: 5px 0 0 0;
      font-size: 13px;
      font-weight: 600;
      color: rgba(#51565d, 0.4);
    }
  }
}

.day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: right;
  padding: 14px 20px;
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  color: #98a0a6;
  position: relative;
  z-index: 1;

  &-name {
    font-size: 12px;
    text-transform: uppercase;
    color: #99a1a7;
    text-align: center;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    line-height: 50px;
    font-weight: 500;
  }

  &--disabled {
    color: rgba(#98a0a6, 0.6);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    cursor: not-allowed;
  }

  mark {
    background-color: #d1e6fa;
  }
}

.task {
  border-left-width: 3px;
  padding: 4px 6px;
  margin: 10px 5px;
  border-left-style: solid;
  font-size: 12px;
  position: relative;
  border-left-color: #4786ff;
  background: rgba(#dae7ff, 0.7);
  align-self: end;
  color: darken(#4786ff, 12%);
}

.event-type-select {
  width: 60%;
}
.form-notes {
  width: 80%;
}

.mobile-event-title {
  font-weight: bold;
}
